@{
    ViewBag.Title = "Order received";
}

<h3>@Localizer["PNR Number"] <span class="label label-primary">@ViewData["pnr"]</span></h3>
@await Component.InvokeAsync("OrderConfirmation", new { pnr = ViewData["pnr"], lastName = ViewData["lastName"] })

