@{
    Layout = "_Layout";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2>Please contact our <a href="mailto:ticket@ivm-tour.com">support team.</a></h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />