
@model SimplCommerce.Module.Core.ViewModels.Account.SubscribeViewModel


@{
    Layout = null;
}

<table border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;width:100%">
    <tbody>
        <tr>
            <td align="center" valign="top">
                <h3>Thank you for subscribing to Charter Wing updates!</h3>
                We'll be sending latest updates for best the prices to your email @Model.Email !
            </td>
        </tr>
    </tbody>
</table>