@model SimplCommerce.Module.Payments.ViewModels.CheckoutPaymentForm

@{
    ViewBag.Title = "Payment Information";
}

<h2>@Localizer["Select payment method"]</h2>

<div class="row">
    <div class="col-md-12 text-center">
       
        @foreach (var paymentProvider in Model.PaymentProviders)
        {
            <div class="payment-method paymentProvider-@paymentProvider.Id">
                @if(!string.IsNullOrWhiteSpace(paymentProvider.LandingViewComponentName))
                {
                    @await Component.InvokeAsync(paymentProvider.LandingViewComponentName)
                }
            </div>
        }
    </div>
    <div class="col-md-12">
        @await Component.InvokeAsync("OrderSummary")
    </div>
</div>


