@model SimplCommerce.Module.PaymentStripe.ViewModels.StripeCheckoutForm

<form action="https://www.portmone.com.ua/gateway/" method="post">
    <input type="hidden" name="payee_id" value="@Model.PublicKey" />
    <input type="hidden" name="shop_order_number" value="@Model.OrderNumber" />
    <input type="hidden" name="bill_amount" value="@Model.Amount" />
    <input type="hidden" name="description" value="Charterwing.com customer [x] order #@Model.OrderNumber" />
    <input type="hidden" name="success_url"
           value="https://charterwing.com/checkout/congratulation" />
    <input type="hidden" name="failure_url"
           value="https://charterwing.com/checkout/payment-failed" />
    <input type="hidden" name="lang" value="Язык интерфейса" />
    <input type="submit" class="btn btn-primary" value="Оплатить @Model.Amount через Portmone" />
</form>