@model SimplCommerce.Module.Catalog.ViewModels.ProductWidgetComponentVm

<h3 class="text-center" style="border:none">@Localizer[Model.WidgetName]</h3>
<div class="row product-list">
    @{
        var ow = Model.Products.Where(p => !p.IsRoundTrip);
        var rt = Model.Products.Where(p => p.IsRoundTrip);
    }

    @if (rt.Any())
    {
    <div class="col-xs-12 col-md-12">
        <h4 class="flight-category">@Localizer["Round Trip"]</h4>
    </div>

    @foreach (var product in rt)
    {
        <div class="col-xs-12 col-md-12">
            @await Html.PartialAsync("/Modules/SimplCommerce.Module.Catalog/Views/Shared/_ProductThumbnailRowList.cshtml", product)
        </div>
    }
    }

    
    @if (ow.Any())
    {
    <div class="col-xs-12 col-md-12">
        <br />
        <h4 class="flight-category">@Localizer["One Way"]</h4>
    </div>

    @foreach (var product in ow)
    {
        <div class="col-xs-12 col-md-12">
            @await Html.PartialAsync("/Modules/SimplCommerce.Module.Catalog/Views/Shared/_ProductThumbnailRowList.cshtml", product)
        </div>
    }
    }
</div>