<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>Manage Flights</h2>
        </div>
        <div class="col-md-4 text-right">
            <a ui-sref="product-create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Create Flight</a>
        </div>
    </div>
</div>

<table class="table table-striped" st-pipe="vm.getProducts" st-table="vm.products">
    <thead>
        <tr>
            <th st-sort="Id" class="sortable">Id</th>
            <th st-sort="VendorId" class="sortable">Operator</th>
            <th st-sort="DepartureDate" class="sortable">Departure</th>
            <th st-sort="ReturnDepartureDate" class="sortable">Return</th>
            <th st-sort="FlightNumber" class="sortable">Flight #</th>
            <th st-sort="Departure" class="sortable">From</th>
            <th st-sort="Destination" class="sortable">To</th>
            <th>Dept. Time</th>
            <th>Arr. Time</th>
            <th st-sort="FlightClass" class="sortable">Class</th>
            <th>Seats</th>
            <th st-sort="Price" class="sortable">Price</th>
            <th class="text-center">{{::vm.translate.get('Has Options')}}</th>
            <th class="text-center">Is RT</th>
            <th st-sort="Status" class="sortable">Status</th>
            <th st-sort="CreatedOn" class="text-center sortable">{{::vm.translate.get('Created On')}}</th>
            <th class="text-center">{{::vm.translate.get('Actions')}}</th>
        </tr>
        <tr>
            <th>
                <!--Id-->
            </th>
            <th>
                <div class="form-group">
                    <input style="width:80px" st-search="Operator" />
                </div>
            </th>
            <th>
                <div class="form-group">
                    <input style="width:40px" st-search="DepartureDate" />
                </div>
            </th>
            <th>
                <div class="form-group">
                    <input style="width:40px" st-search="ReturnDepartureDate" />
                </div>
            </th>
            <th>
                <div class="form-group">
                    <input style="width:80px" st-search="FlightNumber" />
                </div>
            </th>
            <th>
                <div class="form-group">
                    <input style="width:80px" st-search="From" />
                </div>
            </th>
            <th>
                <div class="form-group">
                    <input style="width:80px" st-search="To" />
                </div>
            </th>
            <th><!--Departure Time--></th>
            <th><!--Landing Time--></th>
            <th><!--Class--></th>
            <th><!--Seats--></th>
            <th><!--Price--></th>
            <th>
                <div class="form-group">
                    <select st-search="HasOptions">
                        <option value="">{{::vm.translate.get('All')}}</option>
                        <option value="true">{{::vm.translate.get('Yes')}}</option>
                        <option value="false">{{::vm.translate.get('No')}}</option>
                    </select>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <select st-search="IsRoundTrip">
                        <option value="">{{::vm.translate.get('All')}}</option>
                        <option value="true">{{::vm.translate.get('Yes')}}</option>
                        <option value="false">{{::vm.translate.get('No')}}</option>
                    </select>
                </div>
            </th>
            <th>
                <div class="form-group">
                    <select  st-search="Status">
                        <option value="">{{::vm.translate.get('All')}}</option>
                        <option value="INSERTED">Inserted</option>
                        <option value="ACCEPTED">Accepted</option>
                        <option value="PAUSE">Pause</option>
                        <option value="STOP SALE">Stop Sale</option>
                    </select>
                </div>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-show="!vm.isLoading">
        <tr ng-repeat="product in vm.products">
            <td>{{product.id}}</td>
            <td>{{product.operator}}</td>
            <td>{{product.departureDate | date:'dd.MM.yy':'UTC'}}</td>
            <td>{{product.returnDepartureDate | date:'dd.MM.yy':'UTC'}}</td>
            <td>{{product.flightNumber}}</td>
            <td>{{product.from}}</td>
            <td>{{product.to}}</td>
            <td>{{product.departureDate | date:'HH:mm':'UTC'}}</td>
            <td>{{product.landingDate | date:'HH:mm':'UTC'}}</td>
            <td>{{product.flightClass}}</td>
            <td class="text-center">{{product.seats}}</td>
            <td class="text-center">{{product.price}}</td>
            <td class="text-center"><i ng-attr-class="{{product.hasOptions && 'fa fa-circle' || 'fa fa-circle-o'}}"></i></td>
            <td class="text-center"><i ng-attr-class="{{product.isRoundTrip && 'fa fa-circle' || 'fa fa-circle-o'}}"></i></td>
            <td>{{product.status}}</td>
            <td class="text-center">{{product.createdOn | date:'dd.MM.yy'}}</td>
            <td>               
                    <button ng-if="vm.userIsAdmin && product.status == 'ACCEPTED'" title="Pause" ng-click="vm.changeStatus(product)" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pause"></span></button>
                    <button ng-if="vm.userIsAdmin && product.status != 'ACCEPTED'" title="Accept" ng-click="vm.changeStatus(product)" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-play"></span></button>
                    <a ui-sref="product-edit({id: product.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
                    <button ng-click="vm.deleteProduct(product)" title="Delete" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </tbody>
    <tbody ng-show="vm.isLoading">
        <tr>
            <td colspan="10" class="text-center">Loading ... </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="10" st-displayed-pages="10" colspan="10"></td>
        </tr>
    </tfoot>
</table>